:root {
  --mm-color1: #f3f1f1;
  --mm-color2: #bebcbc;
  --mm-color1-dark: #f4f2f2;
  --grey-200: #585858;
}
.wbcmetismenu .wbcmetismenu-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.1rem;
  line-height: 1.5;
}
.wbcmetismenu .wbcmetismenu-item.parent {
  position: static !important;
}
.wbcmetismenu .wbcmetismenu-item > ul {
  position: absolute;
  top: 100%;
  z-index: 1001;
  display: block;
  padding: 1rem;
  list-style: none;
  box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.1);
}

.wbcmetismenu .wbcmetismenu-item .wbcmetismenu-link.fa:before,
.wbcmetismenu .wbcmetismenu-item .wbcmetismenu-link.fas:before,
.wbcmetismenu .wbcmetismenu-item .wbcmetismenu-link.far:before 
{
  margin-right: 0.5rem;
}
.wbcmetismenu .wbcmetismenu-item .wbcmetismenu-link {
  padding: 0.3rem 1rem;
  white-space: normal;
  text-decoration: none;
  color: var(--Linkcolornavbar);
}
.wbcmetismenu .wbcmetismenu-item > .mm-toggler { /* toggler Button */
  font-size: 1rem;
}
.wbcmetismenu .wbcmetismenu-item > span,
.wbcmetismenu .wbcmetismenu-item > .mm-toggler {
  padding: .5rem .5rem;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  /*white-space: nowrap;*/
}
.wbcmetismenu .wbcmetismenu-item > a.wbcmetismenu-link:focus,
.wbcmetismenu .wbcmetismenu-item > .mm-toggler:focus {
  outline: 1px dotted var(--color1);
  outline-offset: 2px;
  color: var(--Hovercolornavbar);
}
.wbcmetismenu .wbcmetismenu-item > .mm-toggler:hover,
.wbcmetismenu .wbcmetismenu-item > .mm-toggler:focus {
  border: none;
  background-color: transparent;
  color: var(--Hovercolornavbar);
}
.wbcmetismenu .wbcmetismenu-item.active > a, 
.wbcmetismenu .wbcmetismenu-item.active > .mm-toggler,
.wbcmetismenu .wbcmetismenu-item > a:hover,
.wbcmetismenu .wbcmetismenu-item > .mm-toggler:hover {
  text-decoration: none;
  color: var(--Activecolornavbar);
}
.wbcmetismenu .wbcmetismenu-item::after {
  content: none;
}
.wbcmetismenu .wbcmetismenu-item:not(.level-1) > ul, 
.wbcmetismenu .wbcmetismenu-item:not(.level-2) > ul {
  margin-right: -1em;
}
[dir=rtl] .wbcmetismenu .wbcmetismenu-item:not(.level-1) > ul, 
[dir=rtl] .wbcmetismenu .wbcmetismenu-item:not(.level-2) > ul {
  margin-right: 0;
  margin-left: -1em;
}
.wbcmetismenu .wbcmetismenu-item.divider:not(.parent) {
  width: 1px;
  padding: 0;
  margin: 0.25em;
  overflow: hidden;
  border-right: 1px solid var(--mm-color2);
}
  @media (max-width: 992px) {
    .wbcmetismenu .wbcmetismenu-item.divider:not(.parent) {
      width: auto;
      height: 1px;
      border-bottom: 1px solid var(--mm-color2);
    }
  }
.wbcmetismenu .mm-collapsing {
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: 0.35s;
  transition-property: color, background-color, height, visibility;
}
.wbcmetismenu .mm-collapse:not(.wbc-col) {
  position: absolute;
  background-color: var(--bgnavbar, white);
  top: 100%;
}
.wbcmetismenu .mm-collapse:not(.mm-show) {
  display: none;
}
.wbcmetismenu .mm-collapse:not(.wbc-col) > li a.wbcmetismenu-link {
  display: block;
  padding: 0.3rem 0.5rem;
}
.wbcmetismenu .mm-collapse:not(.wbc-col) > li.divider:not(.parent) {
  width: auto;
  height: 1px;
  border-bottom: 1px solid var(--mm-color2);
}
.wbcmetismenu .mm-collapse:not(.wbc-col) > li.parent .mm-toggler {
  display: inline-flex;
}
.wbcmetismenu .mm-toggler {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: .5rem .5rem;
  margin: 0;
  color: currentColor;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  border: none;
  box-shadow: none;
}
.wbcmetismenu .mm-toggler:after {
  width: 0;
  height: 0;
  border: none;
  transition: none;
}
.mm-active > .mm-toggler i {
  transform: rotateX(-180deg);
}
.wbcmetismenu .mm-collapse:not(.wbc-col) > li.parent > ul {
  position: relative;
  top: 0;
  flex-basis: calc(100% + 1.5rem);
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  box-shadow: none;
}

.wbcmetismenu .parent > ul {
  color: var(--grey-200);
}
.wbcmetismenu [class^=wbc-wrap-nav-col] > a:not(:last-child) {
  border-bottom: none;
}
.wbcmetismenu .wbcmetismenu-item .wbcmetis-titel {
  display: inline-block;
}
.wbcmetismenu .wbcmetismenu-item .wbcmetis-subtitel {
  display: block;
  font-size: calc(var(--fontsize) - 0.2rem);
}

.wbcmetismenu .wbc-col .wbcmetismenue_heading  .wbcmetis-titel {
  color: var(--color1);
}

.wbcmetismenu .wbc-dropdown-titel {
  text-align: center;
}

/* Dropdown ----------------------------------------------------*/

.wbcmetismenu .mm-collapse .wbcmetismenu-item .nav-header {
  padding: 0.3rem 0.5rem;
  margin: 1rem 0;
  font-weight: 600;
}
.wbcmetismenu .mm-collapse .wbcmetismenu-item  {
  border-bottom: 1px solid var(--mm-color2);
}
.wbcmetismenu .mm-collapse .wbcmetismenu-item:last-child  {
  border-bottom: none;
}
.wbcmetismenu .mm-collapse .wbcmetismenu-item > .wbcmetismenu-link {
  padding: 0.3rem 0.5rem;
}

/* Dropdown mehrspaltig ----------------------------------------*/

.wbc-multicolumn-metismenu {
  display: flex;
  gap: 1rem;
  flex: 1 1 0%;
  flex-direction: row;
}

.wbc-multicolumn-metismenu .wbcmetismenu-submenu-dropdown {
  width: 100%;
  left: 0;
  right: auto;
  margin: auto auto;
  max-width: 100%;
}
.wbc-multicolumn-metismenu div > ul.wbc-col,
.wbc-multicolumn-metismenu div > ul.wbc-col.mm-collapse:not(.mm-show)
{
  padding: 1.3rem;
  display: block;
  position: relative !important;
}
.wbc-multicolumn-metismenu div > ul.wbc-col,
.wbc-multicolumn-metismenu .mm-collapse.wbc-col .wbcmetismenu-submenu
{ 
  width: 100%;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.wbc-multicolumn-metismenu .mm-collapse.wbc-col .wbcmetismenu-submenu.sublevel-2 {
  padding: 0px; 
  display: block !important; /* Spalten des mehrspaltigen Dropdowns immer anzeigen  */ 
  position: relative !important;
}
.wbc-multicolumn-metismenu .wbcmulticolumn .mm-collapse h3 {
  text-align: center;
  margin: 1rem 0;
}
.wbc-multicolumn-metismenu .mm-collapse.wbc-col .wbcmetismenu-item  {
  border-bottom: 1px solid var(--mm-color2);
}
.wbc-multicolumn-metismenu .mm-collapse.wbc-col .wbcmetismenu-item:last-child  {
  border-bottom: none;
}
.wbc-multicolumn-metismenu .mm-collapse.wbc-col .wbcmetismenu-item > .wbcmetismenu-link {
  padding: 0.3rem 0.5rem;
}
.wbc-multicolumn-metismenu .wbcmetismenu-item.level-2.deeper {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Sidebar */
.sidebar-right .wbcmetismenu .mm-collapse,
.sidebar-left .wbcmetismenu .mm-collapse {
  position: relative;
  background-color: rgba(0, 0, 0, 0.03);
}
.sidebar-right .wbcmetismenu li.parent > ul:not(.wbc-col),
.sidebar-left .wbcmetismenu li.parent > ul:not(.wbc-col) {
  position: relative;
  top: 0;
  box-shadow: none;
}
@media (max-width: 1200px) {
  .sidebar-right .wbcmetismenu li.parent > ul:not(.wbc-col),
.sidebar-left .wbcmetismenu li.parent > ul:not(.wbc-col) {
    width: 100%;
  }
}
.sidebar-right .wbcmetismenu .wbcmetismenu-item > span,
.sidebar-right .wbcmetismenu .wbcmetismenu-item > a,
.sidebar-left .wbcmetismenu .wbcmetismenu-item > span,
.sidebar-left .wbcmetismenu .wbcmetismenu-item > a {
  white-space: inherit;
}
.sidebar-right .wbcmetismenu .wbcmetismenu-item.divider:not(.parent),
.sidebar-left .wbcmetismenu .wbcmetismenu-item.divider:not(.parent) {
  width: auto;
  height: 1px;
  border-bottom: 1px solid var(--mm-color2);
}

/*# sourceMappingURL=wbcmetismenu.css.map */
