/* ===========================
  MENUE STYLES
  ========================== */

/*-------------------------------------------------*/

.chrome-fix {
  font-family: var(--fontfamily);
}
ul.menu li {
  list-style: none;
  background-image: none;
}
.nav-item {/* icons */
  .fas,
  .far,
  .fa {
    line-height: calc(var(--fontsize) * 1.5);
    .chrome-fix {
      padding-left: 5px;
      font-weight: normal;
    }
  }
}
li.fa {
  padding-top: 15px !important;
}
li.fa:before {
  position: absolute;
  top: 4px;
  right: 80%;
  left: 12px;
  display: block;
  font-size: 25px;
  color: #999999;
}
li.fa a span {
  padding-left:20px;
}
li.fa a span.chrome-fix {
  margin-top: 10px;
}
li.fa a span {
  font-size: inherit;
}
li.nav-item a {
  text-decoration: none;
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}


/** menues Footer  ------------------------------------------------*/

.wbc-footer ul.menu {
  flex-direction: column;
  li {
    margin-left: 0;
    a {
      color: var(--Linkcolorfooter);
    }
    a:link,
    a:visited {
      color: var(--Linkcolorfooter);
    }
    a:hover {
      color: var(--Hovercolorfooter);
    }
    a:active {
      color: var(--Activecolorfooter);
    }
  }
}

/* --- Navigation  Footer bottom ------------------------------------*/

#footer-bottom .nav {
  flex-direction: row;
  .nav-link::after {
    display: inline-block;
    padding-left: .5rem;
    content: "/";
  }
}

/* Ende menues Footer           */

/** Hauptmenue    ----------------------------------------------------*/

.navigation-main {
  padding: 0;
  margin: 0;
}
.navigation-main ul.nav li {
  display: inline-block;
  list-style: none;
  background-color: transparent;
  background-image: none;
}
.navigation-main ul li .separator,
.navigation-main ul li a,
.navigation-main ul li .nav-header {
  font-size: 1.2rem;
  text-align: left;
  background-color: transparent;
  background-image: none;
}
.navigation-main ul li > a,
.navigation-main ul li > button,
.navigation-main ul li > span {
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.navigation-main ul li a {
  text-decoration: none;
}
.navigation-main ul li a:link,
.navigation-main ul li a:visited {
  color: var(--Linkcolornavbar);
}
.navigation-main ul li a:hover,
.navigation-main ul li a:focus {
  color: var(--Hovercolornavbar);
  background-color: transparent;
  background-image: none;
}
.navigation-main ul li a:active {
  color: var(--Activecolornavbar);
}
.navigation-main ul li.active a:link,
.navigation-main ul li.active a:visited {
  color: var(--Activecolornavbar);
}
.navigation-main ul li.parent {
  position: relative;
  .mod-menu__sub {
    position: absolute;
    top: 100%;
    z-index: 1001;
    display: block;
    min-width: 12rem;
    padding: 1rem;
    background: rgb(var(--bgnavbarr), var(--bgnavbarg), var(--bgnavbarb)) !important;
    background: rgba(var(--bgnavbarr), var(--bgnavbarg), var(--bgnavbarb), var(--transnavbar)) !important;
    @include boxshadow;

    li {
      display: block;
    }
    a {
      display: inline-flex;
    }
  }
}

/******  2. Ebene                                   **********************/

.navigation-main ul.nav-child {
  position: relative;
}
.navigation-main ul.nav-child li {
  display: block;
}
.navigation-main ul.nav-child li,
.navigation-main ul.nav-child li a {
  margin-left: 0;
}
.navigation-main ul.dropdown-level1 > li a:link,
.navigation-main ul.dropdown-level1 > li a:visited {
  background-color:transparent;
  border-top: none;
}
.navigation-main ul.dropdown-level1 > li a:hover,
.navigation-main ul.dropdown-level1 > li a:focus {
  border-top: none;
}
.navigation-main ul.dropdown-level1 li.active  > a:link,
.navigation-main ul.dropdown-level1li.active  > a:visited {
  border-top: none;
}

/******* 3. Ebene                                  ***********************/

.navigation-main ul.dropdown-level2 > li a {
  background-color: transparent;
}
.navigation-main ul.dropdown-level2 > li a:link,
.navigation-main ul.dropdown-level2 > li a:visited {
  background-color: transparent;
  border-top: none;
}
.navigation-main ul.dropdown-level2 li > a:hover,
.navigation-main ul.dropdown-level2 > li a:focus {
  border-top: none;
}
.navigation-main ul.dropdown-level2 li.active a:link,
.navigation-main ul.dropdown-level2 li.active a:visited {
  border-top: none;
}

/****** Menue Top ***********************************************/

#top-01 .nav a:hover {
  background-color: transparent;
}

/********************  menues Sidebar   **********************************/

#sidebar-right ul.nav,
#sidebar-left ul.nav {
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}
#sidebar-right ul.nav li,
#sidebar-left ul.nav li {
  display: block;
  float: none;
  margin-right: 0;
  margin-left: 0;
  border-bottom: 1px solid #ccc;
}

#sidebar-right ul.nav li:last-child,
#sidebar-left ul.nav li:last-child {
  border-bottom: none;
}
#sidebar-right ul.nav li .nav-header,
#sidebar-left ul.nav li .nav-header {
  display: block;
  padding: .8rem .3rem .5rem .3rem;
  color: var(--h3_color);
  font-size: var(--h3_size);
}
#sidebar-right ul.nav li a:link,
#sidebar-left ul.nav li a:link,
#sidebar-right ul.nav li a:visited,
#sidebar-left ul.nav li a:visited {
  display: block;
  background-color: transparent;
  color: var(--defaultcolor, #333);
  padding: 0.5rem 0.3rem;
}
#sidebar-right ul.nav li a:hover,
#sidebar-left ul.nav li a:hover,
#sidebar-right ul.nav li a:focus,
#sidebar-left ul.nav li a:focus {
  background-color: var( --bgcolor-light)
}
#sidebar-right ul.nav li a:active,
#sidebar-left ul.nav li a:active {
  color: var(--defaultcolor, #333);
  background-color: var( --bgcolor-light)
}

#sidebar-right ul.nav > li.deeper ul,
#sidebar-left ul.nav > li.deeper ul {
  padding: .5rem 0 1rem 0;
}
#sidebar-right ul.nav > li.deeper ul li:last-child,
#sidebar-left ul.nav > li.deeper ul li:last-child {
  border-bottom: none;
}

#sidebar-right ul.nav > li.deeper ul > li > a,
#sidebar-left ul.nav > li.deeper ul > li > a {
  padding-left: 1rem;
}

#sidebar-right ul.nav > li.deeper ul > li.deeper > ul > li > a,
#sidebar-left ul.nav > li.deeper ul > li.deeper > ul > li > a {
  padding-left: 2.5rem;
}

/** ------------------------------------------------------- */
/* Bei Hover Untermenü einblenden */

@media (min-width: 992px) {
  .navigation-main .mod-menu_wbcdropdown-metismenu .wbcmetismenu-item.level-1:hover .wbc-multicolumn-dropdown-1,
  .navigation-main .mod-menu_wbcdropdown-metismenu .wbcmetismenu-item.level-1 .wbcmetis-link:hover .wbc-multicolumn-dropdown-1 {
    display: block;
  }
}
/* Offcanvas */
.offcanvas.show {
  .mm-collapse:not(.wbc-col),
  .wbcmetismenu.mod-menu .mm-collapse:not(.wbc-col) {
    position: relative;
    width: 100%;
    margin-top: 1rem;
  }
  .nav {
    flex-direction: column;
  }
}
.offcanvas-dark.show {
  color: #fff;
  background-color: #212529;
  --Linkcolornavbar: #fff;
  --bgnavbarcolor: #343a40;
  --Hovercolornavbar: #a9a9a9;
  --Activecolornavbar: #a9a9a9;
  --grey-200: #dbdbdb;
  .navbar-nav {
    color: #fff;
  }
  a {
    color: #fff;
    &:link,
    &:visited {
      color: #fff;
    }
    &:hover {
      color: #a9a9a9;
    }
  }
  .active a {
    color: #a9a9a9;
  }
}
@media (min-width: 576px) {
  .navbar-expand-sm .navbar-button {
    display: none;
  }
}
@media (min-width: 768px) {
  .navbar-expand-md .navbar-button {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-button {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-button {
    display: none;
  }
}
@media (min-width: 1400px) {
  .navbar-expand-xxl .navbar-button {
    display: none;
  }
}
@media (max-width: 576px) {
  .wbc__offcanvas-toggler-button-txt {
    display: none;
  }
}

/* Offvanvas Menü ----------------*/
.offcanvas-navbar {
  margin: 0 1rem;
  .navbar-nav {
    flex-direction: row;
  }
}
.navbar-toggler {
  --bs-navbar-toggler-border-radius: 0;
  --bs-navbar-color: var(--color1);
  background-color: transparent;
  border: none;
}
.navbar-toggler .svg-toggler-icon {
  fill: currentColor;
}

@media (min-width: 992px) {
  button.navbar-toggler:hover,
  button.navbar-toggler:focus {
    background-color: transparent;
    color: var(--color1);
    border-color: transparent;
  }
  .navbar-toggler .svg-toggler-icon {
    transform: translate(-10px,0);
    width: 70px;
  }
  .navbar-toggler .svg-toggler-icon rect {
    width: 70px;
    transition: all 0.5s ease-in-out;
    transform-origin: center;
    opacity: 1;
  }
  .navbar-toggler .svg-toggler-icon .toggler-line3 {
    opacity: 0;
  }
  .navbar-toggler:hover .svg-toggler-icon .toggler-line1,
  .navbar-toggler:focus .svg-toggler-icon .toggler-line1,
  .navbar-toggler .svg-toggler-icon:hover .toggler-line1,
  .navbar-toggler .svg-toggler-icon:focus .toggler-line1 {
    width: 35px;
  }

}
/* offcanvas  Body */
/*
.wbc-bs5-offcanvas {
   --ms-color2: rgba(255, 255, 255,0.3);

  .wbcmetismenu {
    &.mod-menu {
      flex-direction: column;

      .wbcmetismenu-item {
        justify-content: space-between;

        > a.wbcmetismenu-link:link,
        > button,
        > span
        {
          color: var(--offcanvas-color, rgba(255,255,255,.8));
        }
        a.wbcmetismenu-link:hover,
        a.wbcmetismenu-link:focus,
        > button:hover,
        > button:focus
        {
          color: var(--offcanvas-hover-color, rgba(255,255,255,1));
        }
        a.wbcmetismenu-link:active,
        > button:active
        {
          color: var(--offcanvas-active-color, rgba(255,255,255,9));
        }
        &.level-2 {
          .wbcmetismenue_heading {
            border-left: 3px solid var(--offcanvas-color, rgba(255,255,255,.8));
          }
        }
        &:not(.level-1) {
          .wbcmetismenue_heading {
            .wbcmetis-titel {
              color: var(--offcanvas-color, rgba(255,255,255,1));
            }
          }
        }

        > ul {
          position: static;
          padding: 0px;
          margin: 0px;
          background-color: transparent;
          transition: all .5s ease-in-out;
        }
        .container-fluid  {
          padding: 0px;
          .row {
            margin: 0px;
            h3 {
              display: none;
            }
            .col {
              padding: 0px;
              flex: 0 0 100%!important;
              max-width: 100%!important;
              .wbc-col {
                padding: 0px;
              }
            }
          }

        }

      }
    }
  }
}
*/
