/* ===========================
  MENUE STYLES
  ========================== */

/** Offcanvas Navbar */

.offcanvas {
  .navbar {
    .nav-toggle {
    }
  }
  .navbar.toggle-pos-left {
    justify-content: space-between;
  }
  .navbar.toggle-pos-right {
    justify-content: space-between;
    .nav-toggle {
      order: 99;
    }
  }
}
.hc-offcanvas-nav {
  .nav {
    flex-direction: column;
  }
}

/*-------------------------------------------------*/

.chrome-fix {
  font-family: var(--fontfamily);
}
ul.menu li {
  list-style: none;
  background-image: none;
}
.nav-item {/* icons */
  .fas,
  .far,
  .fa {
    line-height: calc(var(--fontsize) * 1.5);
    .chrome-fix {
      padding-left: 5px;
      font-weight: normal;
    }
  }
}
li.fa {
  padding-top: 15px !important;
}
li.fa:before {
  position: absolute;
  top: 4px;
  right: 80%;
  left: 12px;
  display: block;
  font-size: 25px;
  color: #999999;
}
li.fa a span {
  padding-left:20px;
}
li.fa a span.chrome-fix {
  margin-top: 10px;
}
li.fa a span {
  font-size: inherit;
}

/** menues Footer              */

.wbc-footer ul.menu {
  flex-direction: column;
  li {
    margin-left: 0;
    a {
      color: var(--Linkcolorfooter);
    }
    a:link,
    a:visited {
      color: var(--Linkcolorfooter);
    }
    a:hover {
      color: var(--Hovercolorfooter);
    }
    a:active {
      color: var(--Activecolorfooter);
    }
  }
}

/* --- Navigation  Footer bottom ------------------------------------*/

#footer-bottom .nav {
  flex-direction: row;
  .nav-link::after {
    display: inline-block;
    padding-left: .5rem;
    content: "/";
  }
}

/* Ende menues Footer           */

/** Hauptmenue                  */
.navbar-toggler{
  margin: .5rem 0;
}
#navigation-main {
  padding: 0;
  margin: 0;
}
#navigation-main .navbar-default {
  background-color: transparent;
  border: none;
}
#navigation-main ul.nav li {
  display: inline-block;
  list-style: none;
  background-color: transparent;
  background-image: none;
}
#navigation-main ul li .separator,
#navigation-main ul li a,
#navigation-main ul li .nav-header {
  font-size: 1.2rem;
  text-align: left;
  background-color: transparent;
  background-image: none;
}
#navigation-main ul li > a,
#navigation-main ul li > button,
#navigation-main ul li > span {
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#navigation-main ul li a {
  text-decoration: none;
}
#navigation-main ul li a:link,
#navigation-main ul li a:visited {
  color: var(--Linkcolornavbar);
}
#navigation-main ul li a:hover,
#navigation-main ul li a:focus {
  color: var(--Hovercolornavbar);
  background-color: transparent;
  background-image: none;
}
#navigation-main ul li a:active {
  color: var(--Activecolornavbar);
}
#navigation-main ul li.active a:link,
#navigation-main ul li.active a:visited {
  color: var(--Activecolornavbar);
}
#navigation-main ul li.parent {
  position: relative;
  .mod-menu__sub {
    position: absolute;
    top: 100%;
    z-index: 1001;
    display: block;
    min-width: 12rem;
    padding: 1rem;
    background: rgb(var(--bgnavbarr), var(--bgnavbarg), var(--bgnavbarb)) !important;
    background: rgba(var(--bgnavbarr), var(--bgnavbarg), var(--bgnavbarb), var(--transnavbar)) !important;
    @include boxshadow;

    li {
      display: block;
    }
    a {
      display: inline-flex;
    }
  }
}

/******  2. Ebene                                   **********************/

#navigation-main ul.nav-child {
  position: relative;
}
#navigation-main ul.nav-child li {
  display: block;
}
#navigation-main ul.nav-child li,
#navigation-main ul.nav-child li a {
  margin-left: 0;
}
#navigation-main ul.dropdown-level1 > li a:link,
#navigation-main ul.dropdown-level1 > li a:visited {
  background-color:transparent;
  border-top: none;
}
#navigation-main ul.dropdown-level1 > li a:hover,
#navigation-main ul.dropdown-level1 > li a:focus {
  border-top: none;
}
#navigation-main ul.dropdown-level1 li.active  > a:link,
#navigation-main ul.dropdown-level1li.active  > a:visited {
  border-top: none;
}

/******* 3. Ebene                                  ***********************/

#navigation-main ul.dropdown-level2 > li a {
  background-color: transparent;
}
#navigation-main ul.dropdown-level2 > li a:link,
#navigation-main ul.dropdown-level2 > li a:visited {
  background-color: transparent;
  border-top: none;
}
#navigation-main ul.dropdown-level2 li > a:hover,
#navigation-main ul.dropdown-level2 > li a:focus {
  border-top: none;
}
#navigation-main ul.dropdown-level2 li.active a:link,
#navigation-main ul.dropdown-level2 li.active a:visited {
  border-top: none;
}

/****** Menue Top ***********************************************/
#top-01 .nav a:hover {
  background-color: transparent;
}

/********************  menues Sidebar   **********************************/
#sidebar-right,
#sidebar-left{
  ul.nav {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    li {
      display: block;
      float: none;
      margin-right: 0;
      margin-left: 0;
      border-bottom: 1px solid #ccc;
      a {
        display: block;
        padding: .5rem 1rem;
        text-decoration: none;
      }
      > .mod-menu__sub {
        li {
          padding-left: 1rem;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
    .mod-menu__heading {
      display: block;
      padding: .5rem 1rem;
    }
  }
}

/**  Menue Zusatzlinks mit symbolen  ****/

.menu-icons{
  li {
    padding: 15px;
  }
 .icon {
    display: inline-block;
    @include iconfont;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &::before{
      height: 35px;
      padding: 5px 15px 5px 10px;
      font-size: 28px;
      line-height: 35px;
    }
  }
  .i-compass::before {
    content: "\f14e";
  }
  .i-graduation-cap::before {
    content: "\f19d";
  }
  .i-check-square::before {
    content: "\f14a";
  }
  .i-bullseye::before {
    content: "\f140";
  }
  .i-university::before {
    content: "\f19c";
  }
  .i-star::before {
    content: "\f005";
  }
  .i-users::before {
    content: "\f0c0";
  }
  .i-bob::before {
    content: "\f1b9";
  }
  .i-cutlery:before {
    content: "\f0f5";
  }
  a {
    padding-left: 0;
    font-size: 18px;
    line-height: 35px;
    &:link {
      font-weight: 600;
    }
  }
}

/***  fixed Navbar mit Buttons und Symbolen **/

#fixed-sidebar-left ul, #fixed-sidebar-left ul li {
  list-style: none;
}
#fixed-sidebar-left li.nav-item  > div {
  width: 56px;
  height: 50px;
  min-height: 50px;
  font-size: 2rem;
}
#fixed-sidebar-left li > a:link,
#fixed-sidebar-left li > a:visited {}
#fixed-sidebar-left li > a:hover,
#fixed-sidebar-left li > a:focus {}
#fixed-sidebar-left li > a:active {}

@media (max-width: 480px) {/* phone */
  #navigation-main ul {
    float: none;
    width: 100%;
  }
  #navigation-main ul li {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #navigation-main ul {
    float: none;
    width: 100%;
  }
  #navigation-main ul li {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  #navigation-main ul.nav-child {
    position: absolute;
  }
  #navigation-main .dropdown-level1 {
    display: flex !important;
    margin-top: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity .3s linear;
    transition-delay: .5s;
}
  #navigation-main li.level1:hover ul.dropdown-level1,
  #navigation-main li.level1:focus ul.dropdown-level1 {
    /*  bootstrap dropdown bei hover 1st-level */
    margin-top: 0;
    visibility: visible;
    opacity: 1;
    transition-delay: .5s;
}

  /*** Bootstrap menue 3. level ********************************************/
  .dropdown-submenu {
    position: relative;
  }
  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
  }
  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }
  .dropdown-submenu>a:after {
    display: block;
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;
    content: " ";
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
  }
  .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
  }
  .dropdown-submenu.pull-left {
    float: none;
  }
  .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
  #navigation-main ul.nav > li {
    padding: 1rem;
  }
}
