$color1: #686868;
$color2: #a2a29a;
$color3: #e7e7e5;
$color4: #707070;
$color5: #d7dae2;
$color6: #4497d6;
$transwhite_8: rgba(255,255,255,.8);
$transwhite_9: rgba(255,255,255,.9);
$transwhite_7: rgba(255,255,255,.7);
$transwhite_4: rgba(255,255,255,.4);
$transwhite_3: rgba(255,255,255,.3);
$grau_5: rgba(60,60,58,.5);
$grau_8: rgba(60,60,58,.8);
$grau_2: rgba(60,60,58,.2);
$grau_3: rgba(60,60,58,.3);
$grau_1: rgba(60,60,58,1);
$grau_01: rgba(60,60,58,.1);
$grau_02: #9a9999;
$grau_03: #53575f;
$grau_04: #5e626a;
$dunkelgrau: #a2a29a;
$hellgrau: #f8f8f8;
$danger_color: #721c24;
$secondary_color: #383d41;
$primary_color: #1269b0;
$success_color: #1fa22e;
$warning_color: #856404;
$primary_background: #383d41;
$secondary_background: #1269b0;
$success_color_hover: #1fa22e;
$secondary_color_hover: #383d41;
$primary_color_hover: #1269b0;
$warning_color_hover: #856404;
$animation_pl: padding-left .2s ease-in-out;
$animation_ml: margin-left .5s ease-in-out;
$animation_pr: padding-right .5s ease-in-out;
$trans: 80%;

:root {
  --fluid: clamp(var(--fluid-type-min, 1rem), calc(1rem + var(--fluid-type-target, 5vw)), var(--fluid-type-max, 1.1rem));
  --bordercolor: #{$grau_2};
  --borderradius: 0;
  --schatten: 0 3px 5px 0 rgba(38,36,38,.6);
  --fontfamily: "Open Sans", Arial, sans-serif;
  --fontfamily2: "Open Sans", Arial, sans-serif;
  --symbolfont: "Font Awesome 5 Free";
  --printcolor: #000;
  --sidebar-toggle-width: 400px;
  --bgcolor-light: #ffffff;
  --bgcolor-dark: #333333;
  --color1: $color1;
  --color2: $color2;
  --color3: $color3;
  --color4: $color4;
  --color5: $color5;
  --color6: $color6;
} 
